@media (max-width : 595px) {
    body{
        background-color: antiquewhite;
    }
    .showing > div, .prods > div {
        display: block;
    }
    .aside > h3{ 
        text-align: center;
    }
}